section {
  position: relative;
  z-index: 10000;
}
.App-header {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48.96%;
  margin: 0 auto;
}
.section_1 {
  background-image: url("./images/backgrounder.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* height: 62%; */
}
header {
  height: 100px;
  width: auto;
}
.overlay {
  background-image: url("./images/overlay\ \(\ don't\ delete\ \).png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: 0;
}
.logo {
  width: fit-content;
}
.logo img {
  max-width: 130px;
}
.navBar {
  position: relative;
  top: -5px;
}
.navBar .navLink {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-right: 24px;
  font-weight: 900;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.navBar .navLink:hover {
  color: aqua;
}
.CreativeBody {
  margin-top: 130px;
}
/* creatiev */
.crative-content {
  width: 40.63%;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.crative-content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin-bottom: 60px;
  font-size: 32px;
}
.crative-content h1,
p {
  min-width: 100%;
}
.crative-content h1::after {
  display: flex;
  content: "";
  border-top: 0.1rem solid aqua;
  width: 50px;
  position: relative;
  margin: 0 auto;
  position: relative;
  color: aqua;
  top: 27px;
}
